@charset "UTF-8";
@font-face {
  font-family: 'Monteserrat-bold';
  src: url(../../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url(../../fonts/Montserrat-Light.ttf);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 549px) {
  .container {
    max-width: 550px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header-bg {
  display: block;
  max-width: 100%;
  background: linear-gradient(to right, white 30%, transparent 70%), url("../img/header.png") no-repeat center;
  background-size: cover;
  height: 500px;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .header-bg {
    max-width: 100%;
    height: 400px;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .header-bg {
    max-width: 100%;
    height: 350px;
  }
}

@media screen and (max-width: 549px) {
  .header-bg {
    max-width: 100%;
    height: 180px;
  }
}

.menu-bg {
  background: #8900ff;
  height: 70px;
  max-width: 50%;
  border-radius: 0px 0 20px 0;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .menu-bg {
    height: 50px;
    max-width: 60%;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .menu-bg {
    height: 40px;
    max-width: 57%;
  }
}

@media screen and (max-width: 549px) {
  .menu-bg {
    display: none;
  }
}

.menu {
  display: flex;
  position: absolute;
  margin: 0 auto;
  flex-wrap: wrap;
  top: 15px;
  justify-content: space-around;
  text-transform: uppercase;
  left: 70px;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .menu {
    justify-content: flex-start;
    position: relative;
    left: 10px;
    top: 0px;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .menu {
    position: relative;
    left: 20px;
    top: 15px;
  }
}

@media screen and (max-width: 549px) {
  .menu {
    display: none;
  }
}

.menu a {
  color: white;
}

.editar {
  position: relative;
  margin-top: -4px;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .editar {
    margin-top: 0;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .editar {
    position: relative;
    bottom: 17px;
    margin-top: 0;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .consultor {
    position: relative;
    bottom: 15px;
  }
}

.menu .editar a {
  border-radius: 25px;
  text-align: center;
  font-size: .875em;
  background: #e1a607;
  padding: 15px 40px 15px 50px;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .menu .editar a {
    padding: 10px 20px 10px 40px;
    font-size: .8em;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .menu .editar a {
    padding: 10px 20px 10px 40px;
    font-size: .5em;
  }
}

.menu .editar img {
  position: relative;
  margin: 2px auto;
  left: 50px;
  top: 8px;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .menu .editar img {
    left: 40px;
    top: 10px;
    max-width: 28px;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .menu .editar img {
    max-width: 20px;
    left: 40px;
    top: 8px;
  }
}

.menu .consultor a {
  border-radius: 30px;
  background: #7928b7;
  font-size: .875em;
  padding: 15px 40px 15px 50px;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .menu .consultor a {
    padding: 10px 20px 10px 40px;
    font-size: .8em;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .menu .consultor a {
    padding: 10px 20px 10px 40px;
    font-size: .5em;
    margin: 0 85px 50px 0;
  }
}

.menu .consultor img {
  position: relative;
  left: 50px;
  top: 8px;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .menu .consultor img {
    left: 40px;
    margin: 2px auto;
    top: 8px;
    max-width: 25px;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .menu .consultor img {
    max-width: 16px;
    left: 40px;
    top: 8px;
  }
}

.menu .comprar a {
  border-radius: 25px;
  display: inline;
  position: relative;
  top: 14px;
  margin: 0 20px;
  background: #0fb3d4;
  font-size: .875em;
  padding: 15px 20px;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .menu .comprar a {
    right: -30px;
    font-size: .8em;
    padding: 10px 20px;
    position: absolute;
    margin: 0px auto;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .menu .comprar a {
    right: -50px;
    padding: 10px 15px;
    font-size: .5em;
    position: absolute;
    top: -10px;
  }
}

.header .area-restrita {
  display: flex;
  position: absolute;
  right: 120px;
  text-align: center;
  background: #e1a607;
  padding: 10px 40px;
  border-radius: 0 0 10px 10px;
  top: 0;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .header .area-restrita {
    right: 50px;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .header .area-restrita {
    right: 20px;
    padding: 5px 20px;
  }
}

@media screen and (max-width: 549px) {
  .header .area-restrita {
    display: none;
  }
}

.header .area-restrita img {
  position: relative;
  left: -10px;
  top: -2px;
}

.area-restrita a {
  color: white;
}

.header h1 {
  font-size: 3em;
  color: #e1a607;
  margin: 100px 0 0 100px;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .header h1 {
    margin: 100px 0 0 50px;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .header h1 {
    margin: 60px 0 0 50px;
    font-size: 2em;
  }
}

@media screen and (max-width: 549px) {
  .header h1 {
    margin: 0px 0 10px 0;
    font-size: 1em;
  }
}

.header p {
  margin: 10px 0 0 100px;
  font-size: 1em;
  line-height: 1.5;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .header p {
    margin: 10px 0 0 50px;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .header p {
    margin: 10px 0 0 50px;
    font-size: .875em;
  }
}

@media screen and (max-width: 549px) {
  .header p {
    margin: 0 5px;
    font-size: .5em;
    margin: 10px 0 0 0px;
  }
}

.header p > a {
  color: #7928b7;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 549px) {
  .mobile-btn {
    display: inline-block;
    width: 36px;
    height: 36px;
    color: #fff;
    border-top: 4px solid;
    top: 20px;
    left: 90%;
    position: relative;
    cursor: pointer;
  }
}

@media screen and (max-width: 549px) and (min-width: 760px) and (max-width: 979px) {
  .mobile-btn {
    display: none;
  }
}

@media screen and (max-width: 549px) {
  .mobile-btn::after, .mobile-btn::before {
    content: '';
    display: block;
    height: 4px;
    margin-top: 6px;
    background: #fff;
    position: relative;
    transition: transform .2s ease;
  }
  .mobile-btn:hover {
    border-top-color: transparent;
  }
  .mobile-btn:hover::after {
    margin-top: 0px;
    top: 2px;
    transform: rotate(45deg);
  }
  .mobile-btn:hover:hover::before {
    margin-top: 0px;
    top: 6px;
    transform: rotate(135deg);
  }
}

.items-accordion {
  margin: 100px 0 30px 100px;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .items-accordion {
    margin: 100px 0 20px 50px;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .items-accordion {
    margin: 50px 0 20px 60px;
  }
}

@media screen and (max-width: 549px) {
  .items-accordion {
    margin: 20px 0 10px 0px;
  }
}

.items-accordion dt {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0px;
  color: #a141eb;
  font-family: Helvetica;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .items-accordion dt {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .items-accordion dt {
    font-size: 1em;
  }
}

@media screen and (max-width: 549px) {
  .items-accordion dt {
    font-size: .6em;
  }
}

.js-accordion dt::after {
  content: '˅';
  margin-left: 20px;
  display: inline-block;
  position: relative;
  top: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 2em;
  color: #a141eb;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .js-accordion dt::after {
    top: 10px;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .js-accordion dt::after {
    top: 10px;
  }
}

@media screen and (max-width: 549px) {
  .js-accordion dt::after {
    top: 5px;
  }
}

.js-accordion dt.ativo::after {
  content: '^';
}

.js-accordion dd.ativo {
  display: block;
  animation: slideDown .6s forwards;
  line-height: 1.3;
  font-size: 1.2em;
  max-width: 1200px;
}

@media screen and (min-width: 979px) and (max-width: 1389px) {
  .js-accordion dd.ativo {
    max-width: 800px;
    font-weight: lighter;
  }
}

@media screen and (min-width: 760px) and (max-width: 979px) {
  .js-accordion dd.ativo {
    max-width: 650px;
    font-size: 1em;
  }
}

@media screen and (max-width: 549px) {
  .js-accordion dd.ativo {
    font-size: .6em;
    max-width: 350px;
  }
}

.items-accordion dd {
  margin: 10px 0;
}

@media screen and (max-width: 549px) {
  .items-accordion dd {
    margin: 5px 0 0 0;
  }
}

.js-accordion dd {
  display: none;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

footer {
  margin-top: 100px;
  width: 100%;
  height: 50px;
  background: #a141eb;
}

@media screen and (max-width: 549px) {
  footer {
    margin-top: 50px;
    margin-bottom: 0;
    width: 100%;
    height: 30px;
  }
}
